@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 144rem;
  height: 100vh;
  position: relative;
}
body.theme1 {
  background-color: #3a4764;
}
body.theme2 {
  background-color: #e6e6e6;
}
body.theme3 {
  background-color: #160628;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 55rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .container {
    width: 35rem;
  }
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 3.2rem;
}
body.theme1 {
  color: white;
}
body.theme2 {
  color: #35352c;
}
body.theme3 {
  color: #ffe53d;
}

.numpad button {
  font-family: "Spartan", sans-serif;
  font-size: 3.2rem;
}
.numpad button.theme1 {
  color: #35352c;
}
.numpad button.theme2 {
  color: white;
}
.numpad button.theme3 {
  color: #ffe53d;
}
@media only screen and (max-width: 37.5em) {
  .numpad button {
    font-size: 2.2rem;
  }
}
.numpad button.numpad__del {
  font-size: 2rem;
}
.numpad button.numpad__del.theme1 {
  color: white;
}
.numpad button.numpad__del.theme2 {
  color: #35352c;
}
.numpad button.numpad__del.theme3 {
  color: #ffe53d;
}
@media only screen and (max-width: 37.5em) {
  .numpad button.numpad__del {
    font-size: 1.6rem;
  }
}
.numpad button.numpad__reset {
  font-size: 2rem;
  padding-top: 2.7rem;
  padding-bottom: 2rem;
}
.numpad button.numpad__reset.theme1 {
  color: white;
}
.numpad button.numpad__reset.theme2 {
  color: #35352c;
}
.numpad button.numpad__reset.theme3 {
  color: #ffe53d;
}
@media only screen and (max-width: 37.5em) {
  .numpad button.numpad__reset {
    font-size: 1.6rem;
  }
}
.numpad button.numpad__equals {
  font-size: 2rem;
  padding-top: 2.7rem;
  padding-bottom: 2rem;
}
.numpad button.numpad__equals.theme1 {
  color: white;
}
.numpad button.numpad__equals.theme2 {
  color: white;
}
.numpad button.numpad__equals.theme3 {
  color: #1b2428;
}
@media only screen and (max-width: 37.5em) {
  .numpad button.numpad__equals {
    font-size: 1.6rem;
  }
}

.logo {
  grid-column: 1/4;
  align-self: end;
}

.theme-selector {
  align-self: end;
  grid-column: 4/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .theme-selector > p {
    margin-right: 1rem;
  }
}
.theme-selector p {
  text-transform: uppercase;
  font-size: 1rem;
  align-self: end;
  justify-self: center;
  padding-bottom: 3px;
}
.theme-selector__no {
  margin-bottom: 2px;
}
.theme-selector__no p {
  text-align: left;
  margin-left: 8px;
}
.theme-selector__no p span:not(:last-child) {
  display: inline-block;
  margin-right: 14px;
}
.theme-selector__toggle input[type=radio] {
  display: none;
  margin-left: 2px;
  margin-top: 2px;
  z-index: 99;
}
.theme-selector__toggle {
  font-size: 1.4rem;
  width: 5.8rem;
  position: relative;
  border-radius: 10px;
  height: 2rem;
}
.theme-selector__toggle.theme1 {
  background-color: #182034;
}
.theme-selector__toggle.theme2 {
  background-color: #d1cccc;
}
.theme-selector__toggle.theme3 {
  background-color: #1d0934;
}
.theme-selector__toggle-label {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}
.theme-selector__toggle-label:nth-of-type(1) {
  left: 3px;
  top: 3px;
}
.theme-selector__toggle-label:nth-of-type(2) {
  text-align: center;
  top: 3px;
  left: 22px;
}
.theme-selector__toggle-label:nth-of-type(3) {
  text-align: center;
  top: 3px;
  left: 41px;
}
.theme-selector__toggle .slide-bg {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.theme-selector__toggle input:checked ~ .slide-bg.theme1 {
  background-color: #d03f2f;
}
.theme-selector__toggle input:checked ~ .slide-bg.theme2 {
  background-color: #ca5502;
}
.theme-selector__toggle input:checked ~ .slide-bg.theme3 {
  background-color: #00e0d1;
}
.theme-selector__toggle input:nth-child(1):checked ~ .slide-bg {
  left: 3px;
}
.theme-selector__toggle input:nth-child(2):checked ~ .slide-bg {
  left: 22px;
}
.theme-selector__toggle input:nth-child(3):checked ~ .slide-bg {
  left: 41px;
}

.screen {
  height: 10rem;
  grid-column: 1/5;
  margin-top: 3rem;
  border-radius: 2rem;
}
.screen.theme1 {
  background-color: #182034;
}
.screen.theme2 {
  background-color: #d1cccc;
}
.screen.theme3 {
  background-color: #1d0934;
}
@media only screen and (max-width: 37.5em) {
  .screen {
    margin-top: 2rem;
  }
}
.screen__result {
  text-align: right;
  padding: 3rem;
  font-size: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .screen__result {
    font-size: 3.6rem;
    padding: 2.4rem;
  }
}

.numpad {
  grid-column: 1/5;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, minmax(8rem, 1fr));
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  justify-content: center;
}
.numpad.theme1 {
  background-color: #182034;
}
.numpad.theme2 {
  background-color: #d1cccc;
}
.numpad.theme3 {
  background-color: #1d0934;
}
@media only screen and (max-width: 37.5em) {
  .numpad {
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    gap: 2rem;
  }
}
.numpad button {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 1.2rem;
  padding-top: 1.6rem;
}
.numpad button:active {
  transform: translateY(2px);
}
@media only screen and (max-width: 37.5em) {
  .numpad button {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
}
.numpad__num.theme1 {
  background-color: #eae3dc;
}
.numpad__num.theme2 {
  background-color: #e5e4e1;
}
.numpad__num.theme3 {
  background-color: #341c4f;
}
.numpad__num.theme1 {
  box-shadow: #b4a597 0px 5px;
}
.numpad__num.theme2 {
  box-shadow: #a69d91 0px 5px;
}
.numpad__num.theme3 {
  box-shadow: #871c9c 0px 5px;
}
.numpad__del.theme1 {
  background-color: #637097;
}
.numpad__del.theme2 {
  background-color: #377f86;
}
.numpad__del.theme3 {
  background-color: #58077d;
}
.numpad__del.theme1 {
  box-shadow: #404e72 0px 5px;
}
.numpad__del.theme2 {
  box-shadow: #1b5f65 0px 5px;
}
.numpad__del.theme3 {
  box-shadow: #bc15f4 0px 5px;
}
.numpad__reset {
  grid-column: 1/3;
}
.numpad__reset.theme1 {
  background-color: #637097;
}
.numpad__reset.theme2 {
  background-color: #377f86;
}
.numpad__reset.theme3 {
  background-color: #58077d;
}
.numpad__reset.theme1 {
  box-shadow: #404e72 0px 5px;
}
.numpad__reset.theme2 {
  box-shadow: #1b5f65 0px 5px;
}
.numpad__reset.theme3 {
  box-shadow: #bc15f4 0px 5px;
}
.numpad__equals {
  grid-column: 3/5;
}
.numpad__equals.theme1 {
  background-color: #d03f2f;
}
.numpad__equals.theme2 {
  background-color: #ca5502;
}
.numpad__equals.theme3 {
  background-color: #00e0d1;
}
.numpad__equals.theme1 {
  box-shadow: #93261a 0px 5px;
}
.numpad__equals.theme2 {
  box-shadow: #893901 0px 5px;
}
.numpad__equals.theme3 {
  box-shadow: #6cf9f2 0px 5px;
}
