*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  @include body-background;
}

.container {
  width: 60rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(3, mincontent);
}
