.logo {
  grid-column: 1/4;
  align-self: end;
}

.theme-selector {
  align-self: end;
  grid-column: 4/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & p {
    text-transform: uppercase;
    font-size: 1rem;
    align-self: end;
    justify-self: center;
    padding-bottom: 3px;
  }

  &__no {
    margin-bottom: 2px;

    & p {
      text-align: left;
      margin-left: 8px;
    }

    & p span:not(:last-child) {
      display: inline-block;
      margin-right: 14px;
    }
  }

  &__toggle input[type='radio'] {
    display: none;
    margin-left: 2px;
    margin-top: 2px;
    z-index: 99;
  }

  &__toggle {
    font-size: 1.4rem;
    width: 5.8rem;
    position: relative;
    background: $theme1-keypad-background;
    border-radius: 10px;
    height: 2rem;

    &-label {
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      margin: 0;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
      text-align: center;

      &:nth-of-type(1) {
        left: 3px;
        top: 3px;
      }

      &:nth-of-type(2) {
        text-align: center;
        top: 3px;
        left: 22px;
      }

      &:nth-of-type(3) {
        text-align: center;
        top: 3px;
        left: 41px;
      }
    }

    .slide-bg {
      width: 1.4rem;
      height: 1.4rem;
      position: absolute;
      top: 3px;
      border-radius: 50%;
      transition: all 0.2s ease;
    }

    & input:checked ~ .slide-bg {
      background: $theme1-equal-background;
    }

    & input:nth-child(1):checked ~ .slide-bg {
      left: 3px;
    }

    & input:nth-child(2):checked ~ .slide-bg {
      left: 22px;
    }

    & input:nth-child(3):checked ~ .slide-bg {
      left: 41px;
    }
  }
}
