@mixin body-background {
  &.theme1 {
    background-color: $theme1-main-background;
  }

  &.theme2 {
    background-color: $theme2-main-background;
  }

  &.theme3 {
    background-color: $theme3-main-background;
  }
}

@mixin screen-background {
  &.theme1 {
    background-color: $theme1-screen-background;
  }

  &.theme2 {
    background-color: $theme2-screen-background;
  }

  &.theme3 {
    background-color: $theme3-screen-background;
  }
}

@mixin equal-background {
  &.theme1 {
    background-color: $theme1-equal-background;
  }

  &.theme2 {
    background-color: $theme2-equal-background;
  }

  &.theme3 {
    background-color: $theme3-equal-background;
  }
}

@mixin del-background {
  &.theme1 {
    background-color: $theme1-del-background;
  }

  &.theme2 {
    background-color: $theme2-del-background;
  }

  &.theme3 {
    background-color: $theme3-del-background;
  }
}

@mixin key-background-color {
  &.theme1 {
    background-color: $theme1-equal-background;
  }

  &.theme2 {
    background-color: $theme2-equal-background;
  }

  &.theme3 {
    background-color: $theme3-equal-background;
  }
}

@mixin key-background-color {
  &.theme1 {
    background-color: $theme1-num-background;
  }

  &.theme2 {
    background-color: $theme2-num-background;
  }

  &.theme3 {
    background-color: $theme3-num-background;
  }
}

@mixin key-font-color {
  &.theme1 {
    color: $theme1-keytext;
  }

  &.theme2 {
    color: $theme2-keytext;
  }

  &.theme3 {
    color: $theme3-gentext;
  }
}

@mixin del-font-color {
  &.theme1 {
    color: $theme1-gentext;
  }

  &.theme2 {
    color: $theme2-gentext;
  }

  &.theme3 {
    color: $theme3-gentext;
  }
}

@mixin equal-font-color {
  &.theme1 {
    color: $theme1-gentext;
  }

  &.theme2 {
    color: $theme2-keytext;
  }

  &.theme3 {
    color: $theme3-deltext;
  }
}

@mixin num-shadow-color {
  &.theme1 {
    box-shadow: $theme1-num-shadow 0px 5px;
  }
  &.theme2 {
    box-shadow: $theme2-num-shadow 0px 5px;
  }

  &.theme3 {
    box-shadow: $theme3-num-shadow 0px 5px;
  }
}

@mixin del-shadow-color {
  &.theme1 {
    box-shadow: $theme1-del-shadow 0px 5px;
  }
  &.theme2 {
    box-shadow: $theme2-del-shadow 0px 5px;
  }

  &.theme3 {
    box-shadow: $theme3-del-shadow 0px 5px;
  }
}

@mixin equal-shadow-color {
  &.theme1 {
    box-shadow: $theme1-equal-shadow 0px 5px;
  }
  &.theme2 {
    box-shadow: $theme2-equal-shadow 0px 5px;
  }

  &.theme3 {
    box-shadow: $theme3-equal-shadow 0px 5px;
  }
}
