.numpad {
  grid-column: 1/5;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, minmax(8rem, 1fr));
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  justify-content: center;
  @include screen-background;

  @include respond(phone) {
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    gap: 2rem;
  }

  & button {
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 1.2rem;
    padding-top: 1.6rem;

    &:active {
      transform: translateY(2px);
    }

    @include respond(phone) {
      font-size: 2.2rem;
      padding-bottom: 1rem;
    }
  }

  &__num {
    @include key-background-color;
    @include num-shadow-color;
  }

  &__del {
    @include del-background;
    @include del-shadow-color;
  }

  &__reset {
    @include del-background;
    @include del-shadow-color;
    grid-column: 1/3;
  }

  &__equals {
    @include equal-background;
    @include equal-shadow-color;
    grid-column: 3/5;
  }
}
