//COLORS

//Theme 1
//Backgrounds
$theme1-main-background: hsl(222, 26%, 31%);
$theme1-screen-background: hsl(224, 36%, 15%);
$theme1-keypad-background: hsl(223, 31%, 20%);

//Keys
$theme1-del-background: hsl(225, 21%, 49%);
$theme1-del-shadow: hsl(224, 28%, 35%);

$theme1-equal-background: hsl(6, 63%, 50%);
$theme1-equal-shadow: hsl(6, 70%, 34%);

$theme1-num-background: hsl(30, 25%, 89%);
$theme1-num-shadow: hsl(28, 16%, 65%);

//Text
$theme1-gentext: hsl(0, 0%, 100%);
$theme1-keytext: hsl(60, 10%, 19%);

//Theme 2
//Backgrounds
$theme2-main-background: hsl(0, 0%, 90%);
$theme2-screen-background: hsl(0, 5%, 81%);
$theme2-keypad-background: hsl(0, 0%, 93%);

//Keys
$theme2-del-background: hsl(185, 42%, 37%);
$theme2-del-shadow: hsl(185, 58%, 25%);

$theme2-equal-background: hsl(25, 98%, 40%);
$theme2-equal-shadow: hsl(25, 99%, 27%);

$theme2-num-background: hsl(45, 7%, 89%);
$theme2-num-shadow: hsl(35, 11%, 61%);

//Text
$theme2-gentext: hsl(60, 10%, 19%);
$theme2-keytext: hsl(0, 0%, 100%);

//Theme 3
//Backgrounds
$theme3-main-background: hsl(268, 75%, 9%);
$theme3-screen-background: hsl(268, 71%, 12%);

//Keys
$theme3-del-background: hsl(281, 89%, 26%);
$theme3-del-shadow: hsl(285, 91%, 52%);

$theme3-equal-background: hsl(176, 100%, 44%);
$theme3-equal-shadow: hsl(177, 92%, 70%);

$theme3-num-background: hsl(268, 47%, 21%);
$theme3-num-shadow: hsl(290, 70%, 36%);

//Text
$theme3-gentext: hsl(52, 100%, 62%);
$theme3-deltext: hsl(198, 20%, 13%);
$theme3-equaltext: hsl(0, 0%, 100%);
